VITE_RECAPTCHA_SITE_KEY=
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_NAME=
SMTP_FROM_EMAIL=
SMTP_API_KEY=
SMTP_ENCRYPTION=auto
SMTP_TIMEOUT=20
SMTP_VERIFY_PEER=false
SMTP_VERIFY_PEER_NAME=false
